body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: rgba(151,151,151,0.03);
}
*{
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
   
    top:0;
    left:0;
    width: 100%;
    height: 90px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgb(59, 4, 4);
 }
 nav .logo{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size:24px;
    font-weight:bold;
    text-transform: uppercase;
    color: #fff;
 }
 nav ul{
    list-style: none;
    float:right;
    margin:0;
    padding:0;
    display:flex;
 }
 nav ul li a{
    line-height:80px;
    color:#fff;
    padding :12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size:15px;
    font-weight:bold;
    
 }
 nav ul li a:hover{
    background: #098fdd;
    border-radius: 6px;
 }
 nav ul li a.active{
    background: #e2472f;
    color:#fff;
    border-radius: 6px;
 }
 
 
 
 .example input[type=text] {
     padding: 10px;
     font-size: 17px;
     border: 1px solid grey;
     float: left;
     width: 80%;
     background: #f1f1f1;
   }
   
   .example button {
     float: left;
     width: 20%;
     height: 42px;
     padding: 10px;
     background: #000;
     color: white;
     font-size: 17px;
     border: 2px solid grey;
     border-left: none;
     cursor: pointer;
   }
   
   .example button:hover {
     background: #0b7dda;
   }
   
   .example::after {
     content: "";
     clear: both;
     display: table;
   }
 
 
.search{
    width: 350px;
    height: 50px;
    background-attachment: rgba(245,245,245,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 0px;
    padding: 0px 22px;
    letter-spacing: 2px;
    text-decoration-color: #585858;
}
.search input{
    width: 100%;
    height: 30px;
    border: space;
    outline: none;
    background-color: transparent;
}
.search i{
    color: #585858;
    padding-left: 10px;
}
nav .menu li a:hover{
    background-color: #242424;
    color: #ffffff;
    box-shadow: 5px 10px 30px rgba(53,53,53,0.1);
    transition: all ease 0.2s;
}

.trending-box{
    width: 430px;
    height: 250p;
    box-shadow: 5px 15px 30px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin: 0px 20px 10px 20px;
    overflow: hidden;
}
.trending-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    padding-bottom: 10px;
}
.trending-heading{
    padding-left: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #1a1a1a;
}
.text{
    padding-left: 20px;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 45%;
  margin :5px 5px;

}
.buttons {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin :5px 5px;
  
  }
  .button2 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 90%;
    margin :5px 5px;
  
  }
  
  
.button:hover {
  background-color: #555;
}
.button:active {
  transform: translateY(2px);
}
.button1 {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #5333ca;
    border: none;
    border-radius: 7px;
    margin: 30px 30px;
}
  
.button1:hover {background-color: #8a80ad}
.button1:active {
    transform: translateY(2px);
}
.checked {
    color: orange;
}
.cs-hidden{
    overflow: visible !important;
}
#latest{
    border-top: 1px solid rgba(53,53,53,0.1) ;
}
.latest-heading{
    margin: 30px 30px 0px 30px;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.latest-box{
    display: flex;
    flex-direction: column;
    align-items: left;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    margin: 20px 10px;
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
    background-color: #ffffff;
    padding-left: 10px;
    padding-bottom: 10px;
}
.latest-b-img{
    width: 100%;
    height: 300px;
}
.latest-b-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.latest-b-text strong{
    color: #3a3a3a;
    margin: 0px;
}
.latest-b-text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    padding-left: 10px;
    flex-direction: column;
    margin: 10px;
}
.latest-b-text p{
    color: #979797;
    margin: 0px;
}
.movies-heading h2{
    font-weight: 400;
    margin: 0px;
    padding-left: 5px 20px;
    background-color: rgba(0,0,0,0.01);
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
}
.movies-heading{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 600px;
    border: 1px solid  #979797;
    padding-top: 5px;
    padding-bottom: 5px;
}
.movies-box{
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    border-top: 3px solid #292929;
}
.movies-img{
    width: 100%;
    height: 400px;
    position: relative;
}
.movies-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movies-box a{
    text-align: center;
    display: block;
    font-weight: 600;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #3a3a3a;
    margin: 20px;
}
.movies-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.2s;
}
#movies-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns a{
    width: 130px;
    height: 40px;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #3963f0;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.btns a:hover{
    background-color: #284fd1;

}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.01);
}
footer p{
    color: #5e5e5e;
    margin: 10px 0px;
    font-size: 0.9rem;
}
@media(max-width:1100px){
    nav{
        justify-content: space-between;
        height: 70px;
        padding: 0px 10px;
    }
    nav .menu{
       display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background: #fff;
        border-bottom:4px solid #242424;
        width:100%;
        padding:0px;
        margin:0px;
    }
    .menu li{
        width:100%;
    }
    nav .menu li a{
        width: 100%;
        height: 40px;
        align-items: center;
        margin: 0px;
        padding:25px;
        border:1px solid rgba(38,38,38,0.03);
    }
 
    nav .menu-icon{
        cursor: pointer;
        float: right;
        padding:28px 20px;
        position: relative;
        user-select: none;
        display: block;
    }
    nav .menu-icon .nav-icon{
        background-color: #333333;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 18px;
    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after{
        background: #333333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width: 100%;
    }
    nav .menu-icon .nav-icon:before{
        top:5px;
    }
    nav .menu-icon .nav-icon:after{
        top:-5px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
 
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top: 0;
    }
    nav .menu-btn{
        display: none;
    }
    nav .menu-btn:checked ~ .menu{
        display: block;
    }
}
@media(max-width:680px){
    .trending-box{
        max-width: 300px;
        height: 180px;
        margin: 10px;
    }
    .latest-box{
        width:190px;
        margin: 20px 5px;
    }
    .movies-box{
        flex-direction: row;
        width:90%;
        border: 1px solid rgba(0,0,0,0.2);
    }
    .movies-box a{
        width:65%;
    }
    footer{
        justify-content: space-between;
        padding:0px 20px;
        text-align: center;
    }
}
@media(max-width:440px){
    .movies-box a,.movies-box{
        width: 100%;
    }
    .movies-box{
        flex-direction: column;
    }
    .logo img{
        height: 30px;
    }
    .search{
        width: 90%;
        height: 40px;
    }
}